@charset "utf-8";

/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,lengend,button,input,textarea,th,td,tr,table{margin:0;padding:0;}

body,button,input,select,textarea{font:14px/1.5 Tahoma,"\5b8b\4f53",Helvetica,Arial,sans-serif;}

h1{font-size:18px;}

h2{font-size:16px;}

h3{font-size:14px; color:#656565;}

h4,h5,h6{font-size:100%;}

address,cite,dfn,em,var{font-style:normal;}

code,kbd,pre,samp,tt{font-family: "Courier New",Courier,monospace;}

ul{list-style:none;}

a{text-decoration:none;color:#333;}

a:hover{text-decoration:none; color:#f00;}

table{ border:none; border-collapse:collapse;}



abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}

q:before,q:after{content:'';}

legend{color:#000;}

fieldset,img{border:none;}



hr{border:none;height:1px;}

html{overflow-y:scroll;}



.clearfix{zoom:1;}

.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}

.floatl{ display:inline; float:left;}

.floatr{ display:inline; float:right;}



#hei a{ color:#333; text-decoration:none;}#hei a:hover{ color:#f00; text-decoration:none;}



#hei666 a{ color:#666; text-decoration:none;}#hei666 a:hover{ color:#f00; text-decoration:none;}

#hei555 a{ color:#555; text-decoration:none;}#hei555 a:hover{ color:#f00; text-decoration:none;}



body{text-align:center; background:#fff; color:#000; font-size:12px;}



/*浮动层*/

.floatlayerBox { width:100%; position: fixed; top:0; z-index:30;background:url(../images/index_02.gif) left top repeat-x; }

.floatLayer { margin:0 auto;width:1008px; height:85px; text-align:center; margin:0 auto;}


.top1{ width:181px; height:39px; float:left;  display:inline; margin-top:13px;}

.top2{ width:550px; height:40px; float:left; display:inline; margin-left:45px; margin-top:45px; font-family:"微软雅黑";}





.nav{ width:580px; height:40px; margin:0 auto;}


.menu0{width:580px;
    background-color:#369;

    height:40px; margin:0 auto;

    text-align:center; font-size:16px; padding:0; margin:0;

}
.menu{

    width:580px;

    height:40px; margin:0 auto;

    text-align:center; font-size:16px; padding:0; margin:0;

}

.menu li {

    float:left;

    height:40px;

    display:inline;

    white-space:nowrap;

    line-height:40px;

    font-size:16px;

    width:95px;

}



#menu_1 a{ display:block; width:95px; height:40px; color:#444444; text-decoration:none; text-align:center;}

#menu_1 a:hover,#menu_2 a,#menu_2 a:hover{ display:block; width:95px; font-weight:bold; height:40px; color:#327fc2; text-align:center;}





#nav {

    line-height: 30px;

    list-style-type: none;

    background:#666;text-align:center; padding:0; margin:0;

}



#nav li {

    float: left;

    width:95px;

    display:inline;

}

#nav li img{ vertical-align:middle;}

#nav li ul {

    line-height:28px;

    list-style-type: none;

    left: -999em;

    width:95px; padding:20px 10px 9px 26px;

    position:absolute;

    background:url(../images/nav_bj.png) 20px top no-repeat;

    z-index:100000;

}

#nav li ul{ text-align:left;margin:0;}

#nav li ul li {

    float:left;

    width:100px;

    height:28px;

    line-height:28px; overflow:hidden;

    text-align:left; margin:0; padding:0; border-bottom:1px dashed #327fc2; background:none;

}

#nav li ul li a {

    display: block;

    width:100px;

    height:28px;

    color:#fff; font-size:14px; font-weight:100;text-align:center; font-size:12px;background:none;

}

#nav li ul li a:hover {

    color:#000;

    text-decoration:none;

    font-weight:normal;

    width:100px; height:28px; font-size:14px; font-weight:100;text-align:center;  font-size:12px;background:none; background:#a5d5ff;

}

#nav li:hover ul {

    left: auto;

}

#nav li.sfhover ul {

    left: auto;

}

#content {

    clear: left;

}



#nav li ul li h3 a {
    display: block;
    width:120px;
    height:28px;
    color:#fff;  font-weight:100;text-align:left; font-size:12px;background:none; text-indent:1em;
}
#nav li ul li h3 a:hover {
    color:#000;
    text-decoration:none;
    font-weight:normal;
    width:120px; height:28px; font-weight:100;text-align:left;  font-size:12px;background:none; background:#none; text-indent:1em;
}

#nav li ul li p a {
    display: block;
    width:120px;
    height:28px;
    color:#fff; font-size:14px; font-weight:100;text-align:left; font-size:12px;background:none; text-indent:1em;
}
#nav li ul li p a:hover {
    color:#000;
    text-decoration:none;
    font-weight:normal;
    width:120px; height:28px; font-size:14px; font-weight:100;text-align:left;  font-size:12px;background:none; background:#a5d5ff; text-indent:1em;
}




.top3{ width:auto; height:48px; float:right; display:inline; margin-top:18px; line-height:24px; text-align:left; background:url(../images/index_06.gif) left center no-repeat; font-size:20px; color:#0000CC; font-family:"微软雅黑";}

.top3 p{ text-indent:30px;}



.xian85{ width:85px; height:85px; overflow:hidden; margin:0 auto;}





.banner_bj{ width:100%; height:4px; background:url(../images/index_12.gif) left top repeat-x; margin:0 auto;}

.banner_bj1{ width:1008px; height:4px; background:url(../images/index_14.gif) center top no-repeat; overflow:hidden; margin:0 auto;}



.ggx{ width:100%; height:48px; border-bottom:1px solid #ced9e5; margin:0 auto;}

.gg{ width:1008px; height:48px; margin:0 auto;}

.gg1{ width:676px; height:48px; float:left; display:inline; line-height:48px; overflow:hidden;}

.gg2{ width:93px; height:28px; float:right; display:inline; margin-top:8px;}





.gg1 li{ width:676px; height:48px; line-height:44px; text-align:left; font-family:

        "微软雅黑"; font-size:16px;}

.div_li {width:676px;height:48px;}

.gg1 li span{ float:right; color:#868686; font-size:16px;}



.lanmu1x{ width:100%;height:329px;border-bottom:1px solid #ced9e5; margin:0 auto;}

.lanmu1{ width:1008px; height:329px; position:relative; margin:0 auto;}


.lanmu1a{ width:300px; height:309px; position:absolute; left:1px; top:0;}

.xian20{ width:20px; height:20px; overflow:hidden; margin:0 auto;}

#lanmu1a1{ width:300px; height:238px; font-size:24px; font-family:"微软雅黑"; line-height:30px;}

#lanmu1a1 a{ width:300px; height:258px; color:#5a5a5a; background:url(../images/sphy.jpg) center 50px no-repeat; text-decoration:none; display:block;}

/*#lanmu1a1 a:hover{ width:200px; height:228px; color:#00a0e9; background:url(../images/index_23.gif) center 80px no-repeat; text-decoration:none; display:block;}*/

.lanmu1a2{ width:300px; height:24px; line-height:54px; font-size:14px; text-align:center; color:#333; font-family:"微软雅黑";}
.lanmu1a3{ width:200px; height:228px; color:#333; font-family:"微软雅黑";}




#lanmu1b1{ width:300px; height:238px; font-size:24px; font-family:"微软雅黑"; line-height:30px;}

#lanmu1b1 a{ width:300px; height:258px; color:#5a5a5a; background:url(../images/hyyy.jpg) center 50px no-repeat; text-decoration:none; display:block;}

/*#lanmu1b1 a:hover{ width:200px; height:228px; color:#00a0e9; background:url(../images/index_25.gif) center 80px no-repeat; text-decoration:none; display:block;}*/

.lanmu1b2{ width:300px; height:24px; line-height:24px; font-size:14px; text-align:center; color:#333; font-family:"微软雅黑";}




#lanmu1c1{ width:300px; height:238px; font-size:24px; font-family:"微软雅黑"; line-height:30px;}

#lanmu1c1 a{ width:300px; height:258px; color:#5a5a5a; background:url(../images/ys.jpg) center 50px no-repeat; text-decoration:none; display:block;}

/*#lanmu1c1 a:hover{ width:200px; height:228px; color:#00a0e9; background:url(../images/index_27.gif) center 80px no-repeat; text-decoration:none; display:block;}*/

.lanmu1c2{ width:300px; height:24px; line-height:24px; font-size:14px; text-align:center; color:#333; font-family:"微软雅黑";}





#lanmu1d1{ width:200px; height:228px; font-size:24px; font-family:"微软雅黑"; line-height:80px;}

#lanmu1d1 a{ width:200px; height:228px; color:#5a5a5a; background:url(../images/index_29a.gif) center 80px no-repeat; text-decoration:none; display:block;}

#lanmu1d1 a:hover{ width:200px; height:228px; color:#00a0e9; background:url(../images/index_29.gif) center 80px no-repeat; text-decoration:none; display:block;}

.lanmu1d2{ width:200px; height:24px; line-height:24px; font-size:14px; text-align:center; color:#333; font-family:"微软雅黑";}





.lanmu1b{ width:300px; height:309px; position:absolute; left:350px; top:0;}

.lanmu1c{ width:300px; height:309px; position:absolute; left:700px; top:0;}

.lanmu1d{ width:200px; height:309px; position:absolute; right:0px; top:0;}

.lanmu5c{ width:420px; height:309px; position:absolute; left:550px; top:0;}

.xian34{ width:34px; height:34px; overflow:hidden; margin:0 auto;}



.lanmu2{ width:1008px; height:314px; margin:0 auto; position:relative;}



.lanmu2a{ width:305px; padding:0 7px; height:290px; position:absolute; left:0; top:0; background:url(../images/index_40.gif) left bottom repeat-x;}

.lanmu2a1{ width:305px; height:52px;}



.lanmu2a1a{ width:auto; height:52px; float:left; display:inline; text-align:left; font-size:10px;}

.lanmu2a1a h3{ color:#333; line-height:26px; font-size:18px; font-family:"微软雅黑"; font-weight:100;}

.lanmu2a1a p{ color:#666; line-height:18px; font-size:10px; font-family:"微软雅黑";}



.lanmu2a1b{ width:40px; height:16px; float:right; display:inline; margin-top:20px;}



.lanmu2a2{ width:305px; height:auto;}

.lanmu2a2 li{ width:305px; height:32px; border-bottom:1px dashed #cccccc; line-height:32px; background:url(../images/index_45.gif) 3px center no-repeat; text-align:left; text-indent:12px;}



.lanmu2b{ width:305px; padding:0 7px;position: absolute;
    left: 347px; height:290px; top:0; background:url(../images/index_40.gif) left bottom repeat-x;}







.lanmu2c{ width:305px; height:290px; position:absolute; right:0; top:0; padding:0 7px; background:url(../images/index_40.gif) left bottom repeat-x;}

.lanmu2c1{ width:305px; height:auto;}

.lanmu2c1a{ width:305px; height:92px; border-bottom:1px dashed #cccccc; line-height:24px; text-align:left;}

.lanmu2c1a img{ width:129px; height:80px; float:left; display:inline; margin-right:6px;}

.lanmu2c1a h3{ font-size:14px; font-family:"微软雅黑";}

.lanmu2c1a p{ font-size:12px; color:#666666;}



.lanmu2c1 li{ width:305px; height:32px; border-bottom:1px dashed #cccccc; line-height:32px; background:url(../images/index_45.gif) 3px center no-repeat; text-align:left; text-indent:12px;}



.lanmu3x{ width:100%; height:208px; margin:0 auto; background:#f2f2f2; overflow:hidden; font-family:"微软雅黑";}

.lanmu3{ width:1008px; height:208px; position:relative; margin:0 auto;}

.lanmu3a{ width:auto; height:auto; position:absolute; left:0; top:15px; text-align:left;}

.lanmu3a h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3a p{ line-height:25px;}





.lanmu3b{ width:auto; height:auto; position:absolute; left:139px; top:15px; text-align:left;}

.lanmu3b h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3b p{ line-height:25px;}



.lanmu3c{ width:auto; height:auto; position:absolute; left:298px;  top:15px; text-align:left;}

.lanmu3c h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3c p{ line-height:25px;}



.lanmu3c1{ width:auto; height:auto; position:absolute; left:458px;  top:15px; text-align:left;}

.lanmu3c1 h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3c1 p{ line-height:25px;}



.lanmu3d{ width:auto; height:auto; position:absolute; left:620px; top:15px; text-align:left;}

.lanmu3d h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3d p{ line-height:25px;}



.lanmu3e{ width:auto; height:auto; position:absolute; left:786px; top:15px; text-align:left;}

.lanmu3e h3{ font-size:18px; font-weight:100; line-height:30px;}

.lanmu3e2{ width:auto; height:58px; background:url(../images/tel.png) left 7px no-repeat; line-height:54px; text-align:left; text-indent:55px; font-size:18px; color:#555;}

.lanmu3e3{ width:auto; height:auto;}

#lanmu3e3a{ width:40px; height:auto; float:left; display:inline;}

#lanmu3e3a a{ width:40px; height:58px; display:block;background:url(../images/qq.png) left 7px no-repeat;}

#lanmu3e3a a:hover{ width:40px; height:58px; display:block;background:url(../images/qq.png) right 7px no-repeat;}

.lanmu3e3b{ width:auto; height:auto; float:left; margin-left:10px; display:inline; line-height:54px; font-size:14px; color:#555;}



.foot{ width:1008px; height:110px; margin:0 auto; padding:5px 0 0 0;}

.foot1{ width:1008px; height:45px; line-height:45px; text-align:left; font-size:14px; font-family:"微软雅黑";}

.foot1 strong{ font-size:18px; font-family:"微软雅黑"; font-weight:100; color:#555;}

.foot1 span{ margin:0 7px;}



.foot2{ width:1008px; height:auto; line-height:24px; text-align:center; color:#555; font-family:"微软雅黑";}





div{margin:0;padding:0}

i{text-decoration:none;font-weight:400;font-style:normal}

#bd{width:360px;margin:5px auto 0;clear:both;}

img {border-width: 0px 0px 0px 0px}

#focus_image{height:234px;position:relative;z-index:20;overflow:hidden;width:304px}

#focus_image .pages{width:304px;height:200px;background:#212121}

#focus_image .pages .item{position:absolute;left:310px;top:0;width:304px;height:200px;z-index:5;text-decoration:none}

#focus_image .pages .item.cur{display:block;z-index:10}

#focus_image .pages .item .poster{display:block;width:304px;height:200px}

#focus_image .pages .item b{background:#000;opacity:.8;filter:alpha(opacity=80);position:absolute;width:304px;height:30px;left:0;bottom:0;z-index:1;-moz-transition:opacity .2s ease-in;-webkit-transition:opacity .2s ease-in;-o-transition:opacity .2s ease-in;transition:opacity .2s ease-in;cursor:pointer}#focus_image .pages .item:hover b{opacity:.4;filter:alpha(opacity=40)}

#focus_image .pages .item i{position:absolute;width:304px;padding:0 5px;height:30px;left:0;bottom:0;line-height:30px;font-size:12px;color:#fff;z-index:2;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;}

#focus_image .controler{display:block;width:304px;height:40px;line-height:40px;border-top:1px solid #121212;text-align:center;-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}

#focus_image .controler b{display:inline-block;width:20px;height:20px;margin:10px 4px;background:#e9e9e9;cursor:pointer;line-height:20px;font-weight:700;color:#2B2B2B;position:relative}

#focus_image .controler b i{display:none}

#focus_image .controler b.down{background:#A91F01;color:#FFF}

#focus_image .controler b.down i{position:absolute;display:block;border:5px dashed transparent;border-bottom:5px solid #A91F01;top:-9px;left:5px;width:0;height:0;line-height:0}

#focus_image .pages .item span{background:#000;opacity:.8;filter:alpha(opacity=80);position:absolute;width:304px;height:30px;left:0;bottom:0;z-index:1;-moz-transition:opacity .2s ease-in;-webkit-transition:opacity .2s ease-in;-o-transition:opacity .2s ease-in;transition:opacity .2s ease-in;cursor:pointer}







.banner_ny{ width:100%; height:200px; background:url(../images/banner_2.gif) center top no-repeat; margin:0 auto;}



.weizix{ width:100%; height:41px;  margin:0 auto; font-family:"微软雅黑"; font-size:14px; color:#525252;}

.weizi{ width:1008px; height:40px; line-height:40px; margin:0 auto; text-align:left;}

.weizixy{ width:1008px; height:40px; margin:0 auto;}



.weizi1{ width:auto; height:40px; line-height:40px; text-align:left; float:left; display:inline; color:#327FC2; font-size:20px;}

.weizi2{ width:auto; height:40px; line-height:40px; text-align:left; float:right; display:inline;}





#lan a{ color:#3D9FE1; text-decoration:none;}

#lan a:hover{ color:#fd0012; text-decoration:none;}

.xian30{ width:30px; height:30px; margin:0 auto; overflow:hidden;}





.nyx{ width:1049px; height:auto; margin:0 auto; background:url(../images/ny_18.gif) right top repeat-y; font-family:"微软雅黑";}

.ny{ width:1049px; height:auto; background:url(../images/ny_19.gif) right bottom no-repeat;}

.ny_l{ width:177px; height:auto; float:left; display:inline; margin-left:20px;}

.ny_l li{ width:177px; height:51px;}

#a1 a,#a1 a:hover{ width:177px; height:50px; border-bottom:1px solid #fff; line-height:50px; display:block; color:#fff; background:url(../images/ny_06.gif) left top no-repeat; text-align:left; text-indent:22px; font-size:14px;}



#a2 a,#a2 a:hover{ width:177px; height:50px; border-bottom:1px solid #fff; line-height:50px; display:block; color:#fff; background:url(../images/ny_07.gif) left top no-repeat; text-align:left; text-indent:22px; font-size:14px;}

#a4 a{ width:177px; height:51px; line-height:50px; display:block; color:#3d9fe1; background:url(../images/ny_13.gif) left top no-repeat; text-align:left; text-indent:22px; font-size:14px;}

#a3 a,#a4 a:hover,#a3 a:hover{ width:177px; height:51px; line-height:50px; display:block; color:#fd0012; background:url(../images/ny_12.gif) left top no-repeat; text-align:left; text-indent:22px; font-size:14px; font-weight:bold;}

.xian2{ width:2px; height:4px; overflow:hidden; margin:0 auto;}



.ny_r_top{ width:100%; height:26px;}

.ny_r{ width:852px; height:auto; float:right; display:inline;}



.ny_r1{ width:720px; height:auto; margin:0 auto; padding:0 65px 0 67px; }

.ny_r1a{ width:720px; height:38px; border-bottom:1px solid #e5e5e5; line-height:30px; text-align:left; color:#fd0012; font-family:"微软雅黑"; font-size:22px;}



.ny_r1a1{ width:100%; height:auto; float:left; display:inline;}



#ny_r1a2{ width:80px; height:21px; text-align:left; background:url(../images/tubiao.gif) right top no-repeat; color:#d6d6d6; font-size:14px; line-height:21px; margin-top:8px; float:right; display:inline;}

#ny_r1a2 a,#ny_r1a2 a:hover{ width:80px; height:21px; text-align:left;  color:#d6d6d6; display:block;}



.ny_r1b{ padding:10px 0 0 0; width:720px; height:100%; min-height:500px; _height:500px; text-align:left; line-height:28px; color:#525252; font-size:14px;}

.ny_r1b p{ text-indent:2em;}

.ny_r1b img{ vertical-align:middle;}

.ny_r1b h4{color:#327FC2; font-size:15px;}

.ny_r1b h3{ font-family:"微软雅黑"; font-size:16px; text-align:center; line-height:42px; color:#327FC2;}

.ny_r1b span{ color:#327FC2;}
.ny_r1bx{ padding:10px 0 0 0; width:720px; height:100%; min-height:500px; _height:500px; text-align:left; line-height:28px; color:#525252; font-size:14px;}

.ny_r1bx img{ vertical-align:middle;}

.ny_r1bx h4{color:#327FC2; font-size:15px;}

.ny_r1bx h3{ font-family:"微软雅黑"; font-size:16px; text-align:center; line-height:42px; color:#327FC2;}



.contentwrapper floatleft list{width:774px;}
.content-title{position:relative;text-align:left;margin-top:5px;margin-bottom:10px;/*background:url(../images/zsdx.png) no-repeat 0 bottom;*/}
content-photo{margin:0;padding:0;}
content-main{width:774px; height:auto;margin:0;padding:0;}
.list-field{width:774px; height:160px;border-bottom:solid 1px #d9d9d9;padding-bottom:10px;padding-top:10px;}
.list-field img{float:left;text-align:left;}
.product_content{width:450px;float:left;padding-top:0px;padding-left:20px;text-align:left;}
.product_content a.title{line-height:30px; color:#0066FF}
.product_introduce{line-height:2.0em;}
.product_action{width:100px;margin-top:0px;float:right;}
.clearfloat{width:774px; height:0px;margin:0;padding:0;}

.product_action a{
    display:block;line-height:25px;height:25px;border-bottom:solid 1px #dedede;background:url(../images/jian3.gif) no-repeat 0 8px;
    width:80px;color:#5b7083;margin:0;padding-left:15px;

}








.news1{ width:718px; height:24px; line-height:24px; text-align:center; color:#999;}

.xian10{ width:10px; height:10px; margin:0 auto; overflow:hidden;}



.ny_r2{ width:720px; height:100%; min-height:500px; _height:500px; text-align:left; line-height:28px; color:#525252; font-size:14px; }



.lanmur_newsx{ padding:10px 0 10px 0; border-bottom:1px solid #e5e5e5;}



#heiheix{width:720px;height:32px;position:relative;overflow:hidden;line-height:31px;text-align:left;}

#heiheix1{width:570px;height:31px;position:absolute;left:0;top:0;text-indent:15px;background:url(../images/li.jpg) 3px center no-repeat;overflow:hidden;}

#heiheix2{width:150px;height:31px;position:absolute;left:570px;top:0;text-align:center; color:#666;overflow:hidden; text-align:left;}

#heiheix a{color:#3D9FE1;text-decoration:none;}

#heiheix a:hover{color:#f00;text-decoration:underline;}



.fenye { width:720px;margin:0px auto; text-align:center;  height:40px; line-height:40px; padding:8px 0 5px 0; text-indent:0; text-align:center;}



.fenye1{ width:100%; background:#fff; margin:0 auto; text-align:center;  height:40px; line-height:40px; padding:8px 0 5px 0; text-indent:0; text-align:center;}

.fenye1x{ width:1008px; height:auto; margin:0 auto;}

.dede_pages{ background:none;

}

.dede_pages ul{

    float:left;

    padding:12px 0px;

}

.dede_pages ul li{

    float:left;

    font-family:Tahoma;

    line-height:17px;

    border:1px solid #d2d2d3; background:#eff3f4; margin:0px 5px; padding:2px 5px ;

}

.dede_pages ul li a{

    float:left;

    color:#555;

    display:block; text-align:center;

}

.dede_pages ul li a:hover{

    color:#d60514;

    text-decoration:none; text-align:center;



}

.dede_pages ul li.thisclass,

.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{

    color:#fff; background:#35A7E3;

    text-align:center;

    font-weight:bold;

}

.dede_pages .pageinfo{

    line-height:21px;

    text-align:center;

    color:#999;

}

.dede_pages .pageinfo strong{

    color:#555;

    font-weight:normal;

    margin:0px 2px; text-align:center;

}





.cp{ width:720px; height:100%; min-height:500px; _height:500px; text-align:left; line-height:28px; color:#525252; font-size:14px; }



.cp_1x{ padding:10px 0 10px 0; }



.cp_1{ width:720px; height:auto;border-bottom:1px solid #e5e5e5; padding:30px 0 30px 0; }

.cp_1a{ width:210px; height:auto; line-height:100%; float:left; display:inline; margin-top:60px;}

.cp_1a img{ width:210px; height:auto;}



.cp_1b{ width:500px; height:auto; float:right; display:inline; background:url(../images/shang.gif) left top no-repeat; }

.cp_1b2a{ width:500px; height:auto; float:right; display:inline; background:url(../images/xia.gif) right bottom no-repeat; }

.cp_1b1{ width:500px; height:46px; line-height:46px; font-size:20px; color:#327FC2; text-align:left; text-indent:40px;}



#lan1 a{color:#327FC2; text-decoration:none;}

#lan1 a:hover{color:#f00; text-decoration:none;}



.cp_1b2{ width:460px; height:auto; padding:0 0 0 40px; line-height:28px;}

.cp_1b3{ width:430px; height:auto; height:100%; min-height:140px; _height:140px;}

.cp_1b3 img{ vertical-align:middle; line-height:28px;}





.cp_1ax{ width:210px; height:auto; line-height:100%; float:left; display:inline; margin-top:40px;}

.cp_1ax img{ width:210px; height:auto;}





.cp_1b3x{ width:430px; height:auto; height:100%; min-height:140px; _height:140px; color:#777;}

.cp_1b3x h3{ color:#555; font-size:14px; font-weight:100; line-height:36px;}



.cpy{ width:auto; height:auto; padding:20px 0 10px 0;border-bottom:1px solid #e5e5e5;}

.cpy li{ width:222px; height:196px; float:left; display:inline; margin-left:16px;}

.cpy img{ width:220px; height:157px; border:1px solid #E5E5E5;}

.cpy p{ width:222px; height:30px; line-height:25px; text-align:center;}

.title-center{ height:34px; padding:1px 0 5px; font-size:34px; font-weight:bold; text-align:center; background:url("../images/title-bg.png") no-repeat;  }

.scene-list{ overflow:hidden; *zoom:1; margin-left:10px; margin-top:55px; margin-bottom:30px;}

.lzx{ width:100%; height:auto;  margin:0 auto;}

.lz{ width:1010px; height:auto; margin:0 auto; padding:30px 0 0 0; border-bottom:1px solid #E1E1E1;}

.lz1{ width:1010px; height:auto;}

.lz1 li{ width:286px; height:275px; float:left; display:inline; margin-left:34px; font-family:"微软雅黑"; font-size:14px;}

.lz1 img{ width:230px; height:230px; text-align:center;}

.lz1 p{ line-height:32px; text-align:center;}

.lz2{ width:1010px; height:auto;}

.lz2 li{ width:286px; height:275px; float:left; display:inline; margin-left:34px; font-family:"微软雅黑"; font-size:14px;}

.lz2 img{ width:230px; height:160px; text-align:center;}

.lz2 p{ line-height:32px; text-align:center;}





.lc{ width:720px; height:983px; background:url(../images/lc.gif) left bottom no-repeat; position:relative; text-align:left; font-size:12px; line-height:25px;}

.lc span{ font-size:16px; color:#327FC2;}

.lc strong{ font-size:14px;}

.lc p{ text-indent:0;}

.lc1{ width:314px; height:auto; position:absolute; left:10px; bottom:15px;}

.lc2{ width:314px; height:auto; position:absolute; left:394px; bottom:114px;}

.lc3{ width:314px; height:auto; position:absolute; left:10px; bottom:214px;}

.lc4{ width:314px; height:auto; position:absolute; left:394px; bottom:316px;}

.lc5{ width:314px; height:auto; position:absolute; left:10px; bottom:416px;}

.lc6{ width:314px; height:auto; position:absolute; left:394px; bottom:520px;}

.lc7{ width:314px; height:auto; position:absolute; left:10px; bottom:627px;}

.lc8{ width:314px; height:auto; position:absolute; left:394px; bottom:712px;}

.lc9{ width:314px; height:auto; position:absolute; left:10px; bottom:805px;}

.lc10{ width:314px; height:auto; position:absolute; left:394px; bottom:893px;}









.about_job_item{ padding: 20px 30px; border-bottom: 1px solid #e5e5e5;}

.about_job_item:hover{ background-color: #f8f8f8;}

.about_job_item.last{ padding-bottom: 0; border: none; }

.about_job_item .job_name{ font-weight: bold; font-size: 14px; color: #1F76AE;}

.about_job_item:hover .job_name{color: #f60;}

.about_job_item .job_address{ margin-left: 20px; font-weight: 100; color: #999;}

.about_job_item .job_info{padding: 10px 0; line-height: 2em;}

.about_job_item .sub_tit{display: block; line-height:32px;}





.about_job_itemx{ padding: 20px 0px; border-bottom: 1px solid #e5e5e5;}

.about_job_itemx p{ text-indent:0;}

.about_job_itemx:hover{ background-color: #f8f8f8;}

.about_job_itemx.last{ padding-bottom: 0; border: none; }

.about_job_itemx .job_namex{ font-weight: bold; font-size: 14px; color: #1F76AE;}

.about_job_itemx:hover .job_namex{color: #f60;}





.xian{ width:720px; height:3px; border-bottom:1px solid #E5E5E5;}





.subtit{margin-left: 10px; font-weight: 100; font-size: 14px; color: #999;}

.input_wrap{margin-bottom: 10px; *zoom:1;}

.input_wrap:before,

.input_wrap:after{display: table; content: "";}

.input_wrap:after{clear: both;}

.input_label{ float: left; width: 80px; height: 40px; line-height: 40px; font-size: 14px;}

.input_control{ float: left;}

input{float: left; width: 320px;height: 20px; padding: 10px 5px; border: 1px solid #b4b4b4; border-radius:3px; line-height: 20px;}

input.small{width: 150px;}

.radio{ float: left;height: 18px; margin-right: 10px; line-height: 18px; padding-top:10px;}

.radio input{width: auto; height: auto; margin: 3px 5px 0 0;*margin:0; padding: 0; border: none; line-height: normal; cursor: pointer; }

.input_info{ color:#f00; margin-left:10px; line-height:40px;}

.submit{width: 180px; height:auto;padding: 10px 0; border: none; box-shadow: 3px 3px 10px rgba(0,0,0,.1); background: #f60; line-height: 20px; font-size: 16px; color: #fff; cursor: pointer;}





.ny_1{ width:720px; height:38px; background:#EFEFEF; line-height:38px; text-align:left; text-indent:10px; color:#1F76AE; font-size:15px; font-family:"微软雅黑";}





.cp_xy{ width:100%; height:auto; margin:0 auto; text-align:left; line-height:28px; font-family:"微软雅黑"; font-size:14px; color:#525252;}



.cp_bai{ width:100%; height:auto; background:#fff; margin:0 auto; padding:30px 0; border-bottom:1px solid #E1E1E1;}

.cp_bai1{ width:1008px; height:auto; margin:0 auto;}





.cp_hei{ width:100%; height:auto; background:#f4f4f4; margin:0 auto; padding:30px 0; border-bottom:1px solid #E1E1E1;}

.cp_hei1{ width:1008px; height:auto; margin:0 auto;}



.cp_xy p img{ vertical-align:middle;}

.cp_xy h4{color:#327FC2; font-size:16px;}

.cp_xy h3{ font-family:"微软雅黑"; font-size:16px; text-align:center; line-height:42px; color:#f00;}

.cp_xy p{ text-indent:2em;}

.cp_xy h5{ font-size:14px; font-weight:100;}



.float_l380{ width:380px; height:auto; float:left; display:inline;}

.float_l380 img{ width:380px;}

.float_r608{ width:608px; height:auto; float:right; display:inline;}



.float_l608{ width:608px; height:auto; float:left; display:inline;}

.float_r380 img{ width:380px;}

.float_r380{ width:380px; height:auto; float:right; display:inline;}



.bg{ width:1008px; height:48px; border-top:#E1E1E1 1px solid; position:relative; text-align:left; line-height:48px;}

.bg1{ width:300px; height:48px; position:absolute; left:0; top:0; text-align:left; text-indent:100px;border-right:#E1E1E1 1px solid;}

.bg2{ width:700px; height:48px; position:absolute; right:0; top:0; text-indent:100px;}

.bgx{ width:1008px; height:auto;border-bottom:#E1E1E1 1px solid;}

.xbg2{ width:700px; height:48px; position:absolute; right:0; top:0; text-indent:100px; line-height:24px;}

.xbg2 p{text-indent:100px;}